@{
    
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>ZuberDataStore</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    </head>
    <body>
       ZuberDataStore is remote database that have some tables of data. 
    </body>
</html>
